body{
  background-color: black;
  color: white
}
#login{
  text-align: center;
  width: auto;
}

#login button{
  background-color: aqua;
  border-color: white;
  border-width:thick;
  font-size: 30px;
  font-weight: bold;
  color:rgb(143, 31, 143);
  width: 300px;
}



